.reset-credentials {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    display: grid;
}

.reset-credentials-container {
    border: 1px solid tomato;
    place-self: start center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.reset-credentials-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.reset-credentials-title h2 {
    margin: 0;
}

.reset-credentials-title p {
    font-size: 12px;
    color: #666;
    margin: 0;
}

.reset-credentials-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reset-credentials-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.reset-credentials-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reset-credentials-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reset-credentials-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.cancel-btn {
    background-color: #6c757d !important;
}

.cancel-btn:hover {
    background-color: #5a6268 !important;
}

.reset-credentials-container button:not(:disabled):hover {
    background-color: #d63031;
}

@media (max-width: 650px) {
    .reset-credentials {
        height: 100%;
        margin: 50px auto;
    }
    .reset-credentials-container {
        width: 100%;
        padding: 25px 10px;
    }
    .reset-credentials-title {
        text-align: center;
    }
}

